	
	</div> <!-- end .container -->

	@@if (role === "mothers"){
		@@include("../common/announce.html",  {
		})
	}		

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
	<script src="https://ad.csdnevnik.ru/special/prodaction/OAuth2/hello.min.js"></script>

	<!-- main script -->
	@@if (server === "dnevnik"){
	<script src="assets/js/base-dnevnik.min.js"></script>
	}	
	@@if (server === "mosreg"){
	<script src="assets/js/base-mosreg.min.js"></script>
	}
	@@if (server === "staging"){
	<script src="assets/js/base-staging.min.js"></script>
	}
	@@if (server === "local"){
	<script src="http://localhost:3000/assets/js/base-local.min.js"></script>
	}

	@@if (forum === true){

		@@if (server === "dnevnik"){
		<script src="assets/js/forum-dnevnik.min.js"></script>
		}	
		@@if (server === "mosreg"){
		<script src="assets/js/forum-mosreg.min.js"></script>
		}
		@@if (server === "staging"){
		<script src="assets/js/forum-staging.min.js"></script>
		}	
		@@if (server === "local"){
		<script src="http://localhost:3000/assets/js/forum-local.min.js"></script>
		}

	}

</body>
</html>
