
<section class="container__section section forum-info" id="forum-info">
	
	<div class="section__wrap forum-info__wrap">

	@@ if (server !== "mosreg"){

		<h2 class="section__title forum-info__title">
			Задайте вопрос психологу
		</h2>

		<div class="forum-info__button-placeholder">

			@@if (role === "girls"){
			
			<a href="dove-forum-girls.html" onClick="@@forumGirlsClick"  class="forum-info__button button button--gold button--xl">ОБСУДИТЬ НА ФОРУМЕ</a>

			}


			@@if (role === "mothers"){
			
			<a href="dove-forum-mothers.html" onClick="@@forumMomsClick"  class="forum-info__button button button--gold button--xl">ОБСУДИТЬ НА ФОРУМЕ</a>

			}

		</div><!-- /.forum-info__button-placeholder -->
	}

	</div> <!-- /.forum-info__wrap -->

</section> <!-- /.forum-info -->
