/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$big-dove-name: 'big-dove';
$big-dove-x: 0px;
$big-dove-y: 0px;
$big-dove-offset-x: 0px;
$big-dove-offset-y: 0px;
$big-dove-width: 285px;
$big-dove-height: 137px;
$big-dove-total-width: 537px;
$big-dove-total-height: 469px;
$big-dove-image: '../images/sprite.png';
$big-dove: (0px, 0px, 0px, 0px, 285px, 137px, 537px, 469px, '../images/sprite.png', 'big-dove', );
$celebrities-item-name: 'celebrities-item';
$celebrities-item-x: 488px;
$celebrities-item-y: 237px;
$celebrities-item-offset-x: -488px;
$celebrities-item-offset-y: -237px;
$celebrities-item-width: 32px;
$celebrities-item-height: 32px;
$celebrities-item-total-width: 537px;
$celebrities-item-total-height: 469px;
$celebrities-item-image: '../images/sprite.png';
$celebrities-item: (488px, 237px, -488px, -237px, 32px, 32px, 537px, 469px, '../images/sprite.png', 'celebrities-item', );
$celebrities-text-arrow-left-name: 'celebrities-text-arrow-left';
$celebrities-text-arrow-left-x: 306px;
$celebrities-text-arrow-left-y: 199px;
$celebrities-text-arrow-left-offset-x: -306px;
$celebrities-text-arrow-left-offset-y: -199px;
$celebrities-text-arrow-left-width: 21px;
$celebrities-text-arrow-left-height: 44px;
$celebrities-text-arrow-left-total-width: 537px;
$celebrities-text-arrow-left-total-height: 469px;
$celebrities-text-arrow-left-image: '../images/sprite.png';
$celebrities-text-arrow-left: (306px, 199px, -306px, -199px, 21px, 44px, 537px, 469px, '../images/sprite.png', 'celebrities-text-arrow-left', );
$celebrities-text-arrow-right-name: 'celebrities-text-arrow-right';
$celebrities-text-arrow-right-x: 285px;
$celebrities-text-arrow-right-y: 199px;
$celebrities-text-arrow-right-offset-x: -285px;
$celebrities-text-arrow-right-offset-y: -199px;
$celebrities-text-arrow-right-width: 21px;
$celebrities-text-arrow-right-height: 44px;
$celebrities-text-arrow-right-total-width: 537px;
$celebrities-text-arrow-right-total-height: 469px;
$celebrities-text-arrow-right-image: '../images/sprite.png';
$celebrities-text-arrow-right: (285px, 199px, -285px, -199px, 21px, 44px, 537px, 469px, '../images/sprite.png', 'celebrities-text-arrow-right', );
$checkbox-checked-name: 'checkbox-checked';
$checkbox-checked-x: 520px;
$checkbox-checked-y: 253px;
$checkbox-checked-offset-x: -520px;
$checkbox-checked-offset-y: -253px;
$checkbox-checked-width: 16px;
$checkbox-checked-height: 16px;
$checkbox-checked-total-width: 537px;
$checkbox-checked-total-height: 469px;
$checkbox-checked-image: '../images/sprite.png';
$checkbox-checked: (520px, 253px, -520px, -253px, 16px, 16px, 537px, 469px, '../images/sprite.png', 'checkbox-checked', );
$checkbox-name: 'checkbox';
$checkbox-x: 520px;
$checkbox-y: 237px;
$checkbox-offset-x: -520px;
$checkbox-offset-y: -237px;
$checkbox-width: 16px;
$checkbox-height: 16px;
$checkbox-total-width: 537px;
$checkbox-total-height: 469px;
$checkbox-image: '../images/sprite.png';
$checkbox: (520px, 237px, -520px, -237px, 16px, 16px, 537px, 469px, '../images/sprite.png', 'checkbox', );
$close-small-name: 'close-small';
$close-small-x: 346px;
$close-small-y: 199px;
$close-small-offset-x: -346px;
$close-small-offset-y: -199px;
$close-small-width: 18px;
$close-small-height: 19px;
$close-small-total-width: 537px;
$close-small-total-height: 469px;
$close-small-image: '../images/sprite.png';
$close-small: (346px, 199px, -346px, -199px, 18px, 19px, 537px, 469px, '../images/sprite.png', 'close-small', );
$close-name: 'close';
$close-x: 488px;
$close-y: 269px;
$close-offset-x: -488px;
$close-offset-y: -269px;
$close-width: 26px;
$close-height: 27px;
$close-total-width: 537px;
$close-total-height: 469px;
$close-image: '../images/sprite.png';
$close: (488px, 269px, -488px, -269px, 26px, 27px, 537px, 469px, '../images/sprite.png', 'close', );
$dove-name: 'dove';
$dove-x: 422px;
$dove-y: 165px;
$dove-offset-x: -422px;
$dove-offset-y: -165px;
$dove-width: 104px;
$dove-height: 72px;
$dove-total-width: 537px;
$dove-total-height: 469px;
$dove-image: '../images/sprite.png';
$dove: (422px, 165px, -422px, -165px, 104px, 72px, 537px, 469px, '../images/sprite.png', 'dove', );
$hand-liked-name: 'hand--liked';
$hand-liked-x: 514px;
$hand-liked-y: 269px;
$hand-liked-offset-x: -514px;
$hand-liked-offset-y: -269px;
$hand-liked-width: 19px;
$hand-liked-height: 21px;
$hand-liked-total-width: 537px;
$hand-liked-total-height: 469px;
$hand-liked-image: '../images/sprite.png';
$hand-liked: (514px, 269px, -514px, -269px, 19px, 21px, 537px, 469px, '../images/sprite.png', 'hand--liked', );
$hand-name: 'hand';
$hand-x: 327px;
$hand-y: 199px;
$hand-offset-x: -327px;
$hand-offset-y: -199px;
$hand-width: 19px;
$hand-height: 21px;
$hand-total-width: 537px;
$hand-total-height: 469px;
$hand-image: '../images/sprite.png';
$hand: (327px, 199px, -327px, -199px, 19px, 21px, 537px, 469px, '../images/sprite.png', 'hand', );
$home-name: 'home';
$home-x: 422px;
$home-y: 237px;
$home-offset-x: -422px;
$home-offset-y: -237px;
$home-width: 66px;
$home-height: 66px;
$home-total-width: 537px;
$home-total-height: 469px;
$home-image: '../images/sprite.png';
$home: (422px, 237px, -422px, -237px, 66px, 66px, 537px, 469px, '../images/sprite.png', 'home', );
$info-1-name: 'info-1';
$info-1-x: 285px;
$info-1-y: 0px;
$info-1-offset-x: -285px;
$info-1-offset-y: 0px;
$info-1-width: 137px;
$info-1-height: 199px;
$info-1-total-width: 537px;
$info-1-total-height: 469px;
$info-1-image: '../images/sprite.png';
$info-1: (285px, 0px, -285px, 0px, 137px, 199px, 537px, 469px, '../images/sprite.png', 'info-1', );
$info-2-name: 'info-2';
$info-2-x: 230px;
$info-2-y: 304px;
$info-2-offset-x: -230px;
$info-2-offset-y: -304px;
$info-2-width: 115px;
$info-2-height: 165px;
$info-2-total-width: 537px;
$info-2-total-height: 469px;
$info-2-image: '../images/sprite.png';
$info-2: (230px, 304px, -230px, -304px, 115px, 165px, 537px, 469px, '../images/sprite.png', 'info-2', );
$info-3-name: 'info-3';
$info-3-x: 422px;
$info-3-y: 0px;
$info-3-offset-x: -422px;
$info-3-offset-y: 0px;
$info-3-width: 115px;
$info-3-height: 165px;
$info-3-total-width: 537px;
$info-3-total-height: 469px;
$info-3-image: '../images/sprite.png';
$info-3: (422px, 0px, -422px, 0px, 115px, 165px, 537px, 469px, '../images/sprite.png', 'info-3', );
$info-4-name: 'info-4';
$info-4-x: 115px;
$info-4-y: 304px;
$info-4-offset-x: -115px;
$info-4-offset-y: -304px;
$info-4-width: 115px;
$info-4-height: 165px;
$info-4-total-width: 537px;
$info-4-total-height: 469px;
$info-4-image: '../images/sprite.png';
$info-4: (115px, 304px, -115px, -304px, 115px, 165px, 537px, 469px, '../images/sprite.png', 'info-4', );
$info-5-name: 'info-5';
$info-5-x: 0px;
$info-5-y: 304px;
$info-5-offset-x: 0px;
$info-5-offset-y: -304px;
$info-5-width: 115px;
$info-5-height: 165px;
$info-5-total-width: 537px;
$info-5-total-height: 469px;
$info-5-image: '../images/sprite.png';
$info-5: (0px, 304px, 0px, -304px, 115px, 165px, 537px, 469px, '../images/sprite.png', 'info-5', );
$logotype-name: 'logotype';
$logotype-x: 345px;
$logotype-y: 304px;
$logotype-offset-x: -345px;
$logotype-offset-y: -304px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 537px;
$logotype-total-height: 469px;
$logotype-image: '../images/sprite.png';
$logotype: (345px, 304px, -345px, -304px, 148px, 52px, 537px, 469px, '../images/sprite.png', 'logotype', );
$top-corner-name: 'top-corner';
$top-corner-x: 0px;
$top-corner-y: 137px;
$top-corner-offset-x: 0px;
$top-corner-offset-y: -137px;
$top-corner-width: 205px;
$top-corner-height: 167px;
$top-corner-total-width: 537px;
$top-corner-total-height: 469px;
$top-corner-image: '../images/sprite.png';
$top-corner: (0px, 137px, 0px, -137px, 205px, 167px, 537px, 469px, '../images/sprite.png', 'top-corner', );
$spritesheet-width: 537px;
$spritesheet-height: 469px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($big-dove, $celebrities-item, $celebrities-text-arrow-left, $celebrities-text-arrow-right, $checkbox-checked, $checkbox, $close-small, $close, $dove, $hand-liked, $hand, $home, $info-1, $info-2, $info-3, $info-4, $info-5, $logotype, $top-corner, );
$spritesheet: (537px, 469px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
