@charset "UTF-8";


// @font-face {
//     font-family: 'rotondac';
//     src: url('../fonts/rotondac.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }




$mainFontFamily: 'Helvetica Neue', Helvetica, sans-serif;

//
//colors
//



$blue-dark: #064079;
$blue-middle: #057dc2;
$blue-light: #75bcfe;

$text: $blue-dark;
