/* ==========================================================================
 * celebrities
 * ========================================================================== */

.celebrities{
	padding: 0 0 50px;

	&__content{
		background: #e7f2fb url(../images/bg/celebrities.png) 0 0 repeat;	
		padding: 50px 0px 0;
	}

	&__title{
		text-align: center;
		margin: 0 30px 20px;
		font-size: 40px;

		@media (max-width: 480px){
			font-size: 30px;
		}
	}

	&__text{
		text-align: center;
		margin: 0 30px 20px;
		line-height: (28/18);
	}

	&__girl{
		
	}
}

/* ==========================================================================
 * celebrities-girl
 * ========================================================================== */

.celebrities-girl{	

	position: relative;
	min-height: 610px;

	&__items{
		background: url(../images/celebrities/girl.png) 46% 100% no-repeat;
		height: 610px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;		
	}

	&__item{
		position: absolute;
		left: 50%;

		&--1{
			top: 15px;
			margin-left: 20px;
		}

		&--2{
			top: 250px;
			margin-left: -100px;
		}

		&--3{
			top: 220px;
			margin-left: 40px;
		}

		&--4{
			top: 160px;
			margin-left: 40px;
		}

		&--5{
			top: 190px;
			margin-left: 70px;
		}

		&--6{
			top: 100px;
			margin-left: 50px;
		}

		&--7{
			top: 290px;
			margin-left: 110px;
		}

		&--8{
			top: 160px;
			margin-left: -100px;
		}

		&--9{
			top: 100px;
			margin-left: -110px;
		}
	}

	&__button{
		background: none;
		border: 0;
		text-indent: -9999px;
		display: block;
		@include sprite($celebrities-item);
		outline: none;
		cursor: pointer;
		&:hover{
			opacity: .85;
		}
	}

	&__bubbles{
		&:before{
			content: '';
			height: 1px;
			display: block;
			width: 100%;
		}
	}

	&__bubble{
		position: absolute;
		width: 320px;
		visibility: hidden;
		opacity: 0;
		left: 50%;

		transition: all .4s;

		&--visible{
			visibility: visible;
			opacity: 1;
		}

		.bubble{
			position: relative;
		}

		&--1{
			top: -15px;
			margin-left: 80px;

			.bubble:before{
				top: 25px;
			}
		}

		&--2{
			top: 70px;
			margin-left: -450px;

			.bubble:before{
				top: 173px;
			}
		}

		&--3{
			top: 55px;
			margin-left: 105px;

			.bubble:before{
				top: 160px;
			}
		}

		&--4{
			top: 0px;
			margin-left: 105px;

			.bubble:before{
				top: 150px;
			}
		}

		&--5{
			top: 30px;
			margin-left: 130px;

			.bubble:before{
				top: 150px;
			}
		}

		&--6{
			top: 10px;
			margin-left: 110px;

			.bubble:before{
				top: 80px;
			}
		}


		&--7{
			top: 95px;
			margin-left: 170px;
			width: 280px;

			.bubble:before{
				top: 190px;
			}
		}


		&--8{
			top: 53px;
			margin-left: -450px;

			.bubble:before{
				top: 100px;
			}
		}

		&--9{
			top: -10px;
			margin-left: -460px;

			.bubble:before{
				top: 100px;
			}
		}

		@media (max-width: 1000px){
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			width: auto;
			max-width: 520px;
			margin: 0 auto;
			opacity: .9;

			display: none;

			.bubble:before{
				display: none;
			}
			&--visible{
				display: block;
			}

			&--1{
				margin-top: 50px;
			}
			&--2{
				margin-top: 290px;
			}
			&--3{
				margin-top: 260px;
			}
			&--4{
				margin-top: 200px;
			}
			&--5{
				margin-top: 230px;
			}
			&--6{
				margin-top: 145px;
			}
			&--8{
				margin-top: 200px;
			}
			&--7{
				margin-top: 330px;
			}
			&--9{
				margin-top: 140px;
			}
		}

	}
}


.bubble{
	background: #fff;
	padding: 25px;
	border-radius: 15px;
	border: 1px solid #e3c686;
	color: #000000;

	box-shadow: 0 0 35px rgba(0,0,0,.25);

	position: relative;

	&:before{
		content: '';
		position: absolute;
		top: 0;
	}

	&--left{
		&:before{
			@include sprite($celebrities-text-arrow-left);
			right: 100%;
		}
	}

	&--right{
		&:before{
			@include sprite($celebrities-text-arrow-right);
			left: 100%;
		}
	}

	&__close{
		position: absolute;
		top: 10px;
		right: 10px;
		text-indent: -9999px;
		background: none;
		border: 0;
		outline: none;
		cursor: pointer;
		@include sprite($close-small);
	}

	&__title{
		margin: 0 0 10px;
		font-size: 20px;
	}

	&__text{
		font-size: 16px;
	}
}
