@charset "UTF-8";
/* ==========================================================================
 * container
 * ========================================================================== */

.container{
	overflow: hidden;
	position: relative;

	&__section{
		
	}
}

/* ==========================================================================
 * section
 * ========================================================================== */

.section{

	padding: 70px 0 70px;

	&__wrap{
		@include clearfix;
		width: 1000px;
		padding: 0 5px;
		margin: auto;
	}

	&__title{
		text-align: left;
		margin: 0 0 20px;
		font-weight: 400;
		font-size: 41px;
	}
}


/* ==========================================================================
 * logo
 * ========================================================================== */

.logo{
	display: inline-block;
	text-align: left;
	@include sprite($dove);
	text-indent: -9999px;
}

/* ==========================================================================
 * header
 * ========================================================================== */

.header{
	padding: 20px 0 0;

}


