@charset "UTF-8";
/* ==========================================================================
 * container
 * ========================================================================== */

.container{
	overflow: hidden;
	position: relative;

	&:before{
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		content: '';
		@include sprite($top-corner);
		pointer-events: none;

		@media (max-width: 1366px){
			display: none;
		}
	}

	&__gray{
		background: #f5f5f5;
	}

	&__section{
		//position: relative;
	}
}

/* ==========================================================================
 * announce
 * ========================================================================== */

.announce{
	position: fixed;
	top: 40%;
	left: -220px;
	width: 183px;
	z-index: 500;

	box-shadow: 0 0 20px rgba(0,0,0,.3);

	transition: all .6s;

	&--visible{
		@media (min-width: 1000px){
			left: 20px;
		}
	}

	&__image-placeholder{
		background: $blue-middle;
		height: 94px;
		position: relative;
	}
	
	&__content{
		background: #fff;
		text-align: center;
		padding: 13px 10px 15px;
	}
	&__image{
		position: absolute;
		left: 0;
		bottom: 0;
	}

	&__title{
		font-size: 16px;
		font-weight: 700;
		margin: 0 0 10px;
	}

	&__text{
		font-size: 12px;
		margin: 0 0 10px;
	}

	&__close{
		border: 0;
		background: none;
		position: absolute;
		text-indent: -9999px;
		text-align: left;
		top: -50px;
		right: 0;
		cursor: pointer;
		outline: none;
		@include sprite($close-small);
	}
}

.announce-counter{

	&__days{
		margin: 0 0 10px;
		font-size: 20px;
		font-weight: 700;
	}

	&__time{
		white-space: nowrap;
		font-size: 34px;
		color: $blue-light;
		font-weight: 700;		
	}
}

/* ==========================================================================
 * competition
 * ========================================================================== */

.competition{

	&__item{
		margin: 0 0 0px;
	}

	&__subtitle{
		font-size: 28px;
		color: $blue-middle;
		font-weight: 700;
		margin: 0 0 1em;
	}
}

.competition-steps{
	@include clearfix;
	background: $blue-middle;
	color: #fff;
	position: relative;


	&__content{
		width: 60%;
		padding: 45px 0 50px 45px;

		@media (max-width: 766px){
			width: auto;
		}
	}

	&__image-placeholder{
		position: absolute;
		bottom: 0;
		right: 3px;
		width: 40%;

		@media (max-width: 766px){
			display: none;
		}
	}

	&__image{
		display: block;
		max-width: 100%;
		height: auto;
		margin: -60px 0 0;
	}

	&__title{
		font-size: 25px;
		margin: 0 0 30px;
		font-weight: 700;
	}

	&__list{
		text-align: left;
		margin: 0 0 0 20px;
		font-size: 18px;
		line-height: 1.3;
		list-style-type: decimal;
	}

	&__item{
		margin: 0 0 15px;
		font-size: 18px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.competition-announce{
	text-align: center;
	background: #d7eaf8;
	padding: 50px;

	&__days{
		font-size: 40px;
	}

	&__days{
		font-size: 40px;
	}

	&__time{
		font-size: 50px;
	}
}

/* ==========================================================================
 * section
 * ========================================================================== */

.section{
	padding: 80px 0 80px;

	&__wrap{
		@include clearfix;
		max-width: 1010px;
		padding: 0 10px;
		margin: auto;
	}

	&__title{
		text-align: left;
		margin: 0 0 40px;
		font-weight: 700;
		font-size: 36px;
		line-height: (50/36);
	}
}


/* ==========================================================================
 * logo
 * ========================================================================== */

.logo{
	display: inline-block;
	text-align: left;
	@include sprite($dove);
	text-indent: -9999px;
}

/* ==========================================================================
 * header
 * ========================================================================== */

.header{
	padding: 16px 0 16px;

	&__wrap{
		@include clearfix;		
	}

	&__dove{
		float: left;

		@media (max-width: 480px){
			//float: none;
			//margin: 0 0 20px;
			width: 60%;
		}
	}

	&__home-placeholder{
		float: right;

		@media (max-width: 480px){
			//float: none;
			//text-align: center;
		}
	}

	&__home{
		text-align: center;
		transition: all .2s;
		font-size: 12px;
		display: inline-block;

		&:before{
			content: '';
			display: block;
			margin: 0 auto 3px;
			@include sprite($home);		
		}

		&:hover{
			opacity: .85;
		}
	}
}

.header-dove{

	@include clearfix;

	&__logo-placeholder{
		float: left;
		width: 110px;
		@media (max-width: 480px){
			float: none;
			width: auto;
			margin: 0 0 10px;
		}
	}

	&__text{
		margin: 0 0 0 120px;
		padding: 5px 0 0;
		font-size: 14px;
		line-height: (18/14);
		color: $blue-middle;
		max-width: 250px;
		@media (max-width: 480px){
			margin: 0 0 0;
		}
	}
}

/* ==========================================================================
 * top
 * ========================================================================== */

.top{
	padding: 0;

	&__content{

	}

	&__quiz{
		display: none;
		padding: 0 0 50px;
	}

	&__header{
		margin: 0 0 15px;
	}

	&__title{
		color: $blue-light;
		line-height: (44/36);
		margin: 0 0 15px;
	}

	&__button-placeholder{
		display: inline-block;
		min-width: 178px;
	}

}

.top-content{
	@include clearfix;
	position: relative;
	min-height: 220px;

	&__content{
		float: left;
		width: 50%;
		padding: 0 0 50px;
		z-index: 1;
		position: relative;

		@media (max-width: 766px){
			width: 100%;
		}
	}

	&__image-placeholder{
		position: absolute;
		bottom: 0;
		right: -3%;
		width: 55%;
		text-align: right;

		@media (max-width: 766px){
			position: static;
			width: 100%;
		}
	}

	&__image{
		max-width: 100%;
		height: auto;
	}
}

.top-quiz{
	position: relative;
	&__close{
		top: -50px;
		right: 0;
		position: absolute;
		@include sprite($close);
		border: 0;
		background-color: transparent;
		text-indent: -9999px;
		&:hover{
			opacity: .8;
		}
	}
}

/* ==========================================================================
 * quiz
 * ========================================================================== */

.quiz{

	&__number{
		font-size: 12px;
		color: #8c8c8c;
		margin: 0 0 10px;
	}

	&__questions{
		
	}

	&__question{
		display: none;
		&:first-child{
			display: block;
		}
	}

	&__results{
		display: none;
		padding: 40px 0;
	}

	&__competition{
		margin: 80px 0 0;
	}

	&__result{
		display: none;
		margin: 0 0 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	&__button-placeholder{
		
	}
}

.quiz-question{

	&__title{
		color: $blue-light;
		font-size: 25px;
		line-height: (35/25);
		margin: 0 0 20px;
		font-weight: 700;
	}

	&__list{
		margin: 0 0 20px;
	}

	&__item{
		margin: 0 0 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	&__textarea-placeholder{
		
	}

	&__textarea{
		height: 150px;
		width: 100%;
		border: 1px solid #ccc;
		padding: 10px;
	}
}

.quiz-answer-radio{
	display: block;
	position: relative;
	padding: 0 0 0 40px;
	min-height: 26px;
	cursor: pointer;

	&__input{

		position: absolute;
		left: -9999px;
		top: 0;

		&:checked + .quiz-answer-radio__text:before{
			background: $gold;
			box-shadow: inset 0 0 0 5px #fff;
		}

		&:checked + .quiz-answer-radio__text + .quiz-answer-radio__comment{
			display: block;
		}
		
	}

	&__text{
		color: $blue-dark;
		margin: 0 0 13px;
		font-size: 18px;
		display: block;
		position: relative;


		&:before{
			content: '';
			display: block;

			width: 26px;
			height: 26px;

			position: absolute;
			top: -5px;
			left: -40px;
			border-radius: 50%;
			background: transparent;
			border: 1px solid $gold;
		}
	}

	&__comment{
		font-size: 14px;
		line-height: (20/14);
		color: #8c8c8c;
		display: none;
	}
}

.quiz-competition{

	&__text{
		margin: 0 0 20px;
	}

	&__button-placeholder{
		
	}
}

/* ==========================================================================
 * page
 * ========================================================================== */

.page{
	padding: 30px 0 60px;

	&__title{
		color: $blue-middle;
	}

	&__text{
		margin: 0 0 40px;
		//$blue-middle
		//
		color: $text-grey;

		h3{
			color: $blue-middle;
		}
	}

	&__media{
		margin: 0 0 40px;

		color: $text-grey;
	}
}

.page-media{
	@include clearfix;

	&__media-placelolder{
		float: left;
		width: 60%;
		margin: 0 3% 15px 0;
		overflow: hidden;

		@media (max-width: 766px){
			width: 100%;
			margin: 0 0 30px;
		}
	}

	&__image{
		vertical-align: top;
		width: 100%;
		height: auto;
	}

	&__content{
	}

	&__title{
		font-weight: 700;
		margin: 0 0 10px;
		font-size: 18px;
	}

	&__list{
		font-size: 18px;		
	}

	&__item{
		margin: 0 0 10px; 
		&:before{
			content: '—';
		}
	}
}

/* ==========================================================================
 * about
 * ========================================================================== */

.about{
	
	&__title{
		
	}

	&__info{
		float: right;
		width: 200px;
		margin: -10px 30px 0 0;		

		@media (max-width: 766px){
			float: none;
			width: auto;
			margin: 0 0 50px;
		}
	}

	&__content{
		margin: 0 280px 0 0;
		@media (max-width: 766px){
			margin-right: 0;
		}
	}

	&__text{
		margin: 0 0 1em;
	}
}

.about-info{

	&__list{

	}

	&__item{
		margin: 0 0 5px;
		color: #8c8c8c;
		font-size: 12px;
		line-height: (16/12);
		&:last-child{
			margin-bottom: 0;
		}
		@media (max-width: 766px){
			font-size: 16px;
		}
	}

	&__percent{
		color: $blue-light;
		font-size: 36px;
		font-weight: 700;
		display: block;
		margin: 0 0 2px;
	}
}

/* ==========================================================================
 * happy
 * ========================================================================== */

.happy{
	padding: 0;

	&__content{
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		padding: 50px 0 50px 350px;
		position: relative;
		min-height: 210px;

		@media (max-width: 766px){
			padding-left: 0;
			padding-right: 200px;
		}

		@media (max-width: 580px){
			padding-right: 0;
		}

		&:before{
			content: '';
			@include sprite($big-dove);
			position: absolute;
			top: 0;
			left: 5px;
			bottom: 0;
			margin: auto;

			@media (max-width: 766px){
				left: auto;
				right: 5px;
				opacity: .5;
			}

			@media (max-width: 580px){
				display: none;
			}
		}
	}

	&__title{
		font-size: 25px;
		margin: 0 0 10px;
	}

	&__text{
		margin: 0 0 15px;
	}
}

/* ==========================================================================
 * articles-links
 * ========================================================================== */

.articles-links{
	padding: 0;

	&__content{
		padding: 90px 0 90px;
		border-bottom: 1px solid #e6e6e6;
	}

	&__list{
		text-align: center;
		margin: 0 -2.5% -30px;
	}
	
	&__item{
		display: inline-block;
		vertical-align: top;
		width: 30%;
		margin: 0 1% 30px;

		@media (max-width: 766px){
			max-width: 320px;
			width: 100%;
		}
	}
}

.articles-link{

	text-align: center;
	
	&__href{
		display: block;

		transition: all .2s;

		&:hover{
			opacity: .8;
		}
	}

	&__image-placeholder{
		display: block;
		margin: 0 auto 10px;
		position: relative;
		height: 0;
		width: 100%;
		padding: 0 0 55.87%;
	}

	&__image-border{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 1px solid #d7d7d7;
		border-radius: 14px;
		overflow: hidden;		
	}

	&__image{
		display: block;
		width: 100%;
		height: auto;
	}

	&__text{
		font-size: 18px;
		line-height: (24/18);
	}
}


/* ==========================================================================
 * video
 * ========================================================================== */

.main-video{

	&__player-placeholder{
		max-width: 690px;
		margin: 0 auto;
	}

}

/* ==========================================================================
 * video-player
 * ========================================================================== */

.video-player{

	&--articles{
		.video-player{
			&__media-container{
				padding: 0 0 56.2%;
			}
		}
	}

	&__media-container{
		height: 0;
		padding: 0 0 56.4%;
		position: relative;
	}

	&__media{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}

	&__frame{
		background: #000;
		margin: auto;
		border: 0;
		display: none;
		width: 100%;
		height: 100%;

		&--visible{
			display: block;
		}
	}

	&__href{
		display: block;
		&--invisible{
			display: none;
		}
	}

	&__thumb{
		vertical-align: top;
		display: block;
		width: 100%;
		height: auto;
	}	
}

/* ==========================================================================
 * mission
 * ========================================================================== */

.mission{
	
	&__main{
		font-size: 24px;
		color: $blue-dark;
	}

	&__item{
		
		margin: 0 0 70px;
		&:after{
			content: '';
			display: block;
			height: 1px;
			background: #ebebeb;
			margin: 70px 40px 0;
		}
		
	}

	&__info{
		color: $text-grey;
	}

	&__psychologist{
		margin: 0 0 70px;
		color: $text-grey;
	}

	&__button-placeholder{
		text-align: center;
	}
}

.mission-info{

	&__list{
		margin: 0 -20px -30px 0;
	}
	
	&__item{
		display: inline-block;
		vertical-align: top;
		//width: 165px;
		margin: 0 20px 30px 0;
		
		&:before{
			content: '';
			display: block;
			margin: 0 0 15px;
		}
	
		&--1{
			background: #edf4fa;
			padding: 17px 20px 10px 10px;
			&:before{
				@include sprite($info-1);
			}
		}
	
		&--2:before{
			@include sprite($info-2);
		}
	
		&--3:before{
			@include sprite($info-3);
		}
	
		&--4:before{
			@include sprite($info-4);
		}
	
		&--5:before{
			@include sprite($info-5);
		}

		@media (max-width: 766px){
			&:before{
				float: left;
			}

			&--1{
				.mission-info__text{
					padding-top: 10px;
					margin: 0 0 0 155px;
				}
			}
		}
	}

	&__text{
		font-size: 14px;
		line-height: (20/14);
		width: 165px;	

		@media (max-width: 766px){
			width: auto;
			padding-top: 120px;
			margin: 0 0 0 125px;
		}	
	}
}

.mission-psychologist{
	@include clearfix;

	&__image-placeholder{
		float: left;
		width: 155px;
		margin: 5px 0 0;

		@media (max-width: 766px){
			float: none;
			margin: 0 0 20px;
		}	
	}

	&__image{
		max-width: 100%;
		height: auto;
	}

	&__content{
		margin: 0 0 0 176px;

		@media (max-width: 766px){
			margin-left: 0;
		}	
	}

	&__name{
		color: $blue-middle;
		margin: 0 0 10px;
		font-size: 24px;
	}

	&__post{
		font-size: 14px;
		margin: 0 0 10px;
	}


}

/* ==========================================================================
 * forum-info
 * ========================================================================== */

.forum-info{
	background: #f5f5f5 url(../images/bg/footer.png) 50% 0 no-repeat;
	padding: 180px 0 85px;

	&__title{
		text-align: center;
		color: $blue-light;
		margin: 0 0 25px;
	}

	&__button-placeholder{
		text-align: center;
	}
}

